.page-header {
  content: '';
  display: block;
  clear: both;
}
.page-header .logo {
  float: left;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRlc3Qvc3R5bGUubGVzcyIsInRlc3Qvc3R5bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQU1BO0VBTEUsWUFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0NDQ0Q7QURFRDtFQUdJLFlBQUE7Q0NGSCIsImZpbGUiOiJ0ZXN0L3N0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jbGVhcmZpeCgpIHtcbiAgY29udGVudDogJyc7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBjbGVhcjogYm90aDtcbn1cblxuLnBhZ2UtaGVhZGVyIHtcbiAgLmNsZWFyZml4KCk7XG4gIC5sb2dvIHtcbiAgICBmbG9hdDogbGVmdDtcbiAgfVxufSIsIi5wYWdlLWhlYWRlciB7XG4gIGNvbnRlbnQ6ICcnO1xuICBkaXNwbGF5OiBibG9jaztcbiAgY2xlYXI6IGJvdGg7XG59XG4ucGFnZS1oZWFkZXIgLmxvZ28ge1xuICBmbG9hdDogbGVmdDtcbn1cbiJdfQ== */
