.container{
    padding-top:10px;
}
.nav-list{
    float: left;
    margin-right: 15px;
}
.nav-content:after{
    content: "";
    clear: both;
    display: block;
}
.button{
    margin: 20px 0 !important;
}