.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
h1 {
  font-size: 25px;
  color: #000;
}
.head,
.foot {
  line-height: 80px;
  text-align: center;
}
.body {
  border-top: 1px solid #e2e6e9;
  border-bottom: 1px solid #e2e6e9;
  padding: 0 200px;
  overflow: hidden;
}
.body:after {
  content: "";
  display: block;
  clear: both;
}
.text-content {
  float: left;
  position: relative;
  min-height: 350px;
  padding: 10px;
  box-sizing: border-box;
}
.text-content h1 {
  padding-bottom: 10px;
}
.main-content {
  background-color: #f7daec;
  width: 100%;
}
.left-content {
  background-color: #95caff;
  width: 200px;
  margin-left: -100%;
  left: -200px;
}
.right-content {
  background-color: #fd3154;
  width: 200px;
  right: -200px;
  margin-left: -200px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjEwL2Nzcy9ob2x5R3JhaWwubGVzcyIsIi4uLzxpbnB1dCBjc3MgODI+Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNJO0VBQ0ksWUFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0NDQVA7QURHRDtFQUNJLGdCQUFBO0VBQ0EsWUFBQTtDQ0RIO0FER0Q7O0VBQ0ksa0JBQUE7RUFDQSxtQkFBQTtDQ0FIO0FERUQ7RUFDSSw4QkFBQTtFQUNBLGlDQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQkFBQTtDQ0FIO0FEbEJHO0VBQ0ksWUFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0NDb0JQO0FERkQ7RUFDSSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSx1QkFBQTtDQ0lIO0FEVEQ7RUFPUSxxQkFBQTtDQ0tQO0FERkQ7RUFDSSwwQkFBQTtFQUNBLFlBQUE7Q0NJSDtBREZEO0VBQ0ksMEJBQUE7RUFDQSxhQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0NDSUg7QURGRDtFQUNJLDBCQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7RUFDQSxvQkFBQTtDQ0lIIiwiZmlsZSI6IjEwL2Nzcy9ob2x5R3JhaWwuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmNsZWFyZml4e1xyXG4gICAgJjphZnRlcntcclxuICAgICAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgICAgIGRpc3BsYXk6YmxvY2s7XHJcbiAgICAgICAgY2xlYXI6IGJvdGg7XHJcbiAgICB9XHJcbn1cclxuaDF7XHJcbiAgICBmb250LXNpemU6IDI1cHg7XHJcbiAgICBjb2xvcjogIzAwMDtcclxufVxyXG4uaGVhZCwuZm9vdHtcclxuICAgIGxpbmUtaGVpZ2h0OjgwcHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXJcclxufVxyXG4uYm9keXtcclxuICAgIGJvcmRlci10b3A6IDFweCBzb2xpZCAjZTJlNmU5O1xyXG4gICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNlMmU2ZTk7XHJcbiAgICBwYWRkaW5nOjAgMjAwcHg7XHJcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gICAgLmNsZWFyZml4KCk7XHJcbn1cclxuLnRleHQtY29udGVudHtcclxuICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgcG9zaXRpb246cmVsYXRpdmU7XHJcbiAgICBtaW4taGVpZ2h0OiAzNTBweDtcclxuICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gICAgaDF7XHJcbiAgICAgICAgcGFkZGluZy1ib3R0b206IDEwcHg7XHJcbiAgICB9XHJcbn1cclxuLm1haW4tY29udGVudHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmN2RhZWM7XHJcbiAgICB3aWR0aDogMTAwJTtcclxufVxyXG4ubGVmdC1jb250ZW50e1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzk1Y2FmZjtcclxuICAgIHdpZHRoOjIwMHB4O1xyXG4gICAgbWFyZ2luLWxlZnQ6LTEwMCU7XHJcbiAgICBsZWZ0Oi0yMDBweDtcclxufVxyXG4ucmlnaHQtY29udGVudHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmZDMxNTQ7XHJcbiAgICB3aWR0aDoyMDBweDtcclxuICAgIHJpZ2h0Oi0yMDBweDtcclxuICAgIG1hcmdpbi1sZWZ0OiAtMjAwcHg7XHJcbn0iLCIuY2xlYXJmaXg6YWZ0ZXIge1xuICBjb250ZW50OiBcIlwiO1xuICBkaXNwbGF5OiBibG9jaztcbiAgY2xlYXI6IGJvdGg7XG59XG5oMSB7XG4gIGZvbnQtc2l6ZTogMjVweDtcbiAgY29sb3I6ICMwMDA7XG59XG4uaGVhZCxcbi5mb290IHtcbiAgbGluZS1oZWlnaHQ6IDgwcHg7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cbi5ib2R5IHtcbiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICNlMmU2ZTk7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZTJlNmU5O1xuICBwYWRkaW5nOiAwIDIwMHB4O1xuICBvdmVyZmxvdzogaGlkZGVuO1xufVxuLmJvZHk6YWZ0ZXIge1xuICBjb250ZW50OiBcIlwiO1xuICBkaXNwbGF5OiBibG9jaztcbiAgY2xlYXI6IGJvdGg7XG59XG4udGV4dC1jb250ZW50IHtcbiAgZmxvYXQ6IGxlZnQ7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgbWluLWhlaWdodDogMzUwcHg7XG4gIHBhZGRpbmc6IDEwcHg7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG4udGV4dC1jb250ZW50IGgxIHtcbiAgcGFkZGluZy1ib3R0b206IDEwcHg7XG59XG4ubWFpbi1jb250ZW50IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2Y3ZGFlYztcbiAgd2lkdGg6IDEwMCU7XG59XG4ubGVmdC1jb250ZW50IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzk1Y2FmZjtcbiAgd2lkdGg6IDIwMHB4O1xuICBtYXJnaW4tbGVmdDogLTEwMCU7XG4gIGxlZnQ6IC0yMDBweDtcbn1cbi5yaWdodC1jb250ZW50IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZkMzE1NDtcbiAgd2lkdGg6IDIwMHB4O1xuICByaWdodDogLTIwMHB4O1xuICBtYXJnaW4tbGVmdDogLTIwMHB4O1xufVxuIl19 */
