input[type="range"] {
  border: 2px solid #b2b1b3;
  height: 0;
  width: 200px;
}
#box {
  width: 400px;
  border: 2px solid #dcdbdd;
  padding: 10px;
  box-sizing: border-box;
  margin: 100px auto;
}
#box h1 {
  padding-bottom: 10px;
  font-size: 20px;
}
#main {
  display: -ms-flexbox;
  display: flex;
}
#main .textContent {
  -ms-flex: 1;
      flex: 1;
}
#main .leftContent {
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  text-align: center;
}
#main .list {
  line-height: 30px;
}
#main .show {
  width: 200px;
  height: 100px;
  background-color: #646464;
  text-align: center;
  line-height: 100px;
  font-size: 15px;
  margin-top: 10px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjEwL2Nzcy9SR0JDb2xvci5sZXNzIiwiLi4vPGlucHV0IGNzcyAyMz4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSwwQkFBQTtFQUNBLFVBQUE7RUFDQSxhQUFBO0NDQ0g7QURDRDtFQUNJLGFBQUE7RUFDQSwwQkFBQTtFQUNBLGNBQUE7RUFDQSx1QkFBQTtFQUNBLG1CQUFBO0NDQ0g7QURORDtFQU9RLHFCQUFBO0VBQ0EsZ0JBQUE7Q0NFUDtBRENEO0VBQ0kscUJBQUE7RUFBQSxjQUFBO0NDQ0g7QURGRDtFQUdRLFlBQUE7TUFBQSxRQUFBO0NDRVA7QURMRDtFQU1RLGtCQUFBO01BQUEsY0FBQTtFQUNBLG1CQUFBO0NDRVA7QURURDtFQVVRLGtCQUFBO0NDRVA7QURaRDtFQWFRLGFBQUE7RUFDQSxjQUFBO0VBQ0EsMEJBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0EsZ0JBQUE7RUFDQSxpQkFBQTtDQ0VQIiwiZmlsZSI6IjEwL2Nzcy9SR0JDb2xvci5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJpbnB1dFt0eXBlPVwicmFuZ2VcIl17XHJcbiAgICBib3JkZXI6IDJweCBzb2xpZCAjYjJiMWIzO1xyXG4gICAgaGVpZ2h0OiAwO1xyXG4gICAgd2lkdGg6MjAwcHg7XHJcbn1cclxuI2JveHtcclxuICAgIHdpZHRoOjQwMHB4O1xyXG4gICAgYm9yZGVyOiAycHggc29saWQgI2RjZGJkZDtcclxuICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gICAgbWFyZ2luOiAxMDBweCBhdXRvO1xyXG4gICAgaDF7XHJcbiAgICAgICAgcGFkZGluZy1ib3R0b206IDEwcHg7XHJcbiAgICAgICAgZm9udC1zaXplOiAyMHB4O1xyXG4gICAgfVxyXG59XHJcbiNtYWlue1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIC50ZXh0Q29udGVudHtcclxuICAgICAgICBmbGV4OiAxO1xyXG4gICAgfVxyXG4gICAgLmxlZnRDb250ZW50e1xyXG4gICAgICAgIGZsZXg6IDAgMCAyMCU7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyXHJcbiAgICB9XHJcbiAgICAubGlzdHtcclxuICAgICAgICBsaW5lLWhlaWdodDogMzBweDtcclxuICAgIH1cclxuICAgIC5zaG93e1xyXG4gICAgICAgIHdpZHRoOiAyMDBweDtcclxuICAgICAgICBoZWlnaHQ6IDEwMHB4O1xyXG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigxMDAsMTAwLDEwMCk7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgIGxpbmUtaGVpZ2h0OiAxMDBweDtcclxuICAgICAgICBmb250LXNpemU6IDE1cHg7XHJcbiAgICAgICAgbWFyZ2luLXRvcDoxMHB4O1xyXG4gICAgfVxyXG59IiwiaW5wdXRbdHlwZT1cInJhbmdlXCJdIHtcbiAgYm9yZGVyOiAycHggc29saWQgI2IyYjFiMztcbiAgaGVpZ2h0OiAwO1xuICB3aWR0aDogMjAwcHg7XG59XG4jYm94IHtcbiAgd2lkdGg6IDQwMHB4O1xuICBib3JkZXI6IDJweCBzb2xpZCAjZGNkYmRkO1xuICBwYWRkaW5nOiAxMHB4O1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBtYXJnaW46IDEwMHB4IGF1dG87XG59XG4jYm94IGgxIHtcbiAgcGFkZGluZy1ib3R0b206IDEwcHg7XG4gIGZvbnQtc2l6ZTogMjBweDtcbn1cbiNtYWluIHtcbiAgZGlzcGxheTogZmxleDtcbn1cbiNtYWluIC50ZXh0Q29udGVudCB7XG4gIGZsZXg6IDE7XG59XG4jbWFpbiAubGVmdENvbnRlbnQge1xuICBmbGV4OiAwIDAgMjAlO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4jbWFpbiAubGlzdCB7XG4gIGxpbmUtaGVpZ2h0OiAzMHB4O1xufVxuI21haW4gLnNob3cge1xuICB3aWR0aDogMjAwcHg7XG4gIGhlaWdodDogMTAwcHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICM2NDY0NjQ7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbGluZS1oZWlnaHQ6IDEwMHB4O1xuICBmb250LXNpemU6IDE1cHg7XG4gIG1hcmdpbi10b3A6IDEwcHg7XG59XG4iXX0= */
