* {
  margin: 0;
  padding: 0;
}

.clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.article {
  .clearfix();
  border: 2px solid black;
  height: 50px;
  margin: 15px auto;
  padding-left: 250px;
  padding-right: 200px;

  // 圣杯布局和双飞翼布局都做得非常棒
  // 双飞翼是圣杯布局的升级。 虽然现在网站开发中用得比较少，但是目前还是有一些地方在使用
  // 比如淘宝网的主内容区，分两块的 https://item.taobao.com/item.htm?spm=a219r.lm874.14.1.19f019b9MY5Q4s&id=566996200613&ns=1&abbucket=5
  // 它就是使用双飞翼布局， 在HTML上结构上，主体内容是写在前面的，而侧边栏的是写在后面的。
  // 这个布局也用了负margin, 后面我们会碰到好多次使用负数的margin进行微调的场景。
  .left 
    background-color: #ff0000;
    float: left;
    width: 250px;
    height: 50px;
    margin-left: -100%;
    /* position: relative;
        left: -250px; */
  }

  .right {
    background-color: #0000ff;
    float: left;
    width: 200px;
    height: 50px;
    margin-left: -200px;
    /* position: relative;
        right: -200px; */
  }

  .middle {
    background-color: #008000;
    float: left;
    width: 100%;
    height: 50px;

    .inner {
      margin-left: 250px;
      margin-right: 200px;
    }
  }
}
