@import 'src/lib/common.less';

.top-bar {
  //   .debug();
  .clearfix();
  color: #d5d5d5;
  background-color: #545652;
  min-width: 950px;

  .top-nav {
    .clearfix();
    float: left;

    li {
      float: left;

      a {
        // .debug();
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
        color: #d5d5d5;
        font-size: 12px;
        line-height: 28px;
      }

      a:hover {
        color: #fff;
      }
    }
  }

  .main-nav {
    .clearfix();
    float: left;
    margin-left: 510px;

    li {
      float: left;

      a {
        // .debug();
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
        color: #d5d5d5;
        font-size: 12px;
        line-height: 28px;
      }

      a:hover {
        color: #fff;
      }
    }
  }

  .menu {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    position: relative;

    .id {
      cursor: pointer;
      font-size: 12px;
      color: #d5d5d5;
    }

    .id:hover {
      color: #fff;
    }

    .items {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #e6e6e6;
      background: #fff;
      display: none;

      li {
        color: #3d3d3d;
        padding: 5px 10px;
        font-size: 12px;
      }

      li:hover {
        cursor: pointer;
        background-color: #eee;
      }
    }

    &.active {
      .items {
        display: block;
      }
    }
  }
}

.page {
  background-color: #edf4ed;
  border-bottom: 1px solid #e5ebe4;

  .page-header {
    // .debug();
    .clearfix();
    width: 1040px;
    margin: 0 auto;

    .page-logo {
      float: left;
      margin: 0 13px 0 0;
      width: 184px;
      height: 57px;
      background: url("https://img3.doubanio.com/dae/accounts/resources/321e246/sns/assets/lg_main_a11_1.png") no-repeat 0 12px;
    }

    .page-nav {
      float: left;
      margin-top: 15px;

      .list {
        .clearfix();

        li {
          //   .debug();
          float: left;
          margin-right: 20px;
          font-size: 16px;
          position: relative;

          a {
            cursor: pointer;
            color: #072;
            font-size: 16px;
            text-decoration: none;
            margin-right: 20px;
          }

          a:hover {
            background-color: #072;
            color: #fff;
          }

          .new {
            background-color: #ff8066;
            color: #fff;
            font-size: 12px;
            position: absolute;
            right: 1px;
            top: -10px;
            transform: scale(0.6);
          }
        }
      }
    }

    .page-search {
      float: right;
      padding: 10px 0 15px;
      position: relative;

      .text {
        width: 242px;
        line-height: 1.5;
        padding-left: 10px;
        margin-top: 10px;
        outline: none;
        border: none;
        font-size: 13px;
        background-color: #fff;
      }

      .btn {
        width: 24px;
        font-size: 13px;
        line-height: 1.5;
        background-color: #fff;
        border: none;
        position: absolute;
        right: 0;
        top: 20px;
      }

      .icon-search {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 20px;
      }
    }
  }
}

.content {
  width: 1040px;
  margin: 0 auto;

  .column {
    width: 675px;
    display: flex;
    margin-top: 40px;

    .column-list {
      display: flex;

      li {
        padding-left: 22px;
        margin-right: 18px;

        a {
          text-decoration: none;
          cursor: pointer;
          color: #669;
          font-size: 14px;
        }

        a:hover {
          color: #fff;
          background: #37a;
        }

        .icon {
          background: url("images/下载.png") no-repeat 0 0;
          background-size: 24px auto;
          display: block;
          width: 24px;
          height: 24px;
          border: 1px solid red;
        }
      }

      .talk .icon {
        background-position: 0 -110px;
      }

      .photo .icon {
        background-position: 0 -28px;
      }

      .web .icon {
        background-position: 0 0;
      }

      .note .icon {
        background-position: 0 -55px;
      }
    }

    .setting {
      margin-left: 275px;

      .icon {
        background: url("images/下载.png") no-repeat 0 -84px;
        background-size: 24px auto;
        display: block;
        width: 24px;
        height: 24px;
        border: 1px solid red;
      }

      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        color: #ccc;
      }

      a:hover {
        color: #a5a5ac;
      }
    }
  }

}
